/* *{color: #333F48}*/
a:any-link {color: #FF694B; font-size: .7em; text-decoration: underline}
a:any-link:hover {color: #FF694B; }
h1,h2,h3,h4,h5,h6 {color: #333F48}
p {color: #333F48}
ul {color: #333F48}

.reveal blockquote {
    text-align: left;
    width: 90%;
}

.reveal ul {
    font-size: .6em;
}

span.page-note{
    color: #FF694B;
    font-size: .5em;
  }